body{
    background-color: #f1f0eb;
}

.center-container{
    position: relative;
    width: 100%;
}

.element-center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.button-align-center{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.col-5{
    width: 400px;
    height: 300px;
    background-color: #dfded9;
    border: 3px solid #ecebe6;
}

