{% extends "layout.html" %}
{% block content %}
<section class="about-author">
    <header class="parallax about-author__intro">
        <h2 class="section-title">
            About Author
        </h2> 
    </header>
    </section>

    <section class="author-info">
        <img src="https://avatars0.githubusercontent.com/u/29136680?s=460&v=4" alt="" class="profile-image">
        <p class="content">
        This website is created by Prashant Brahmbhatt. An IT Engineer and an AI enthusiast. <br><br>
        </p>
    </section>
{% endblock content %}