{% extends "layout.html" %}
{% block content %}
<section class="hero">
    <h2 class="section-title">
        No Data Needed. No Computation Power. No Coding.
    </h2> 
</section>

<section class="intro">
    <h2 class="section-title">
        Online Lesion Segmentations using <span class="text-primary">Segnet</span> pretrained model with high accuracy
    </h2> 
</section>

<section class="about-segnet">
    <header class="parallax about-segnet__intro">
        <h2 class="section-title">
            About SegNet
        </h2> 
    </header>

</section>


<section class="segnet-info">
    <section class="segnet-arch">
        <img src="https://camo.githubusercontent.com/3d416406f5e996094ac12ddbc3e49a68b5ed6813/68747470733a2f2f7777772e7265736561726368676174652e6e65742f70726f66696c652f4164616d5f437a616a6b61322f7075626c69636174696f6e2f3332363135313832352f6669677572652f666967322f41533a36343734343736353934333830383340313533313337343935393436382f456e636f6465722d6465636f6465722d6172636869746563747572652d6f662d5365674e65742d496e666572656e63652d74616b65732d706c6163652d66726f6d2d6c6566742d746f2d72696768742d53697a652d6f662e706e67" class="segnet">
    </section>
    <p class="content">
        SegNet is a deep neural network based on the encoder-decoder architecture for pixel-wise segmentation, originally proposed and implemented by members of the Computer Vision and Robotics Group at the University of Cambridge, UK. SegNet is based on the principle of Semantic Pixel-Wise Labeling initially used for the segmentation of street images which include a total of twelve different classes. Each pixel in the image is to be classified among one of the twelve classes as per the data.
        <br><br>
        The architecture of SegNet has non-linear layer encoding sequences and decoders corresponding to each layer. There is a final classifier present for the pixel-wise classification. We have used it as the base architecture with varying hyper parameters and structural differences for our lesion segmentation problem.        
        <br><br>
    </p>
</section>

<section class="about-segnet">
    <header class="parallax about-segnet__intro">
        <h2 class="section-title">
            About Unet
        </h2> 
    </header>

</section>

<section class="segnet-info">
    <section class="segnet-arch">
        <img src="https://lmb.informatik.uni-freiburg.de/people/ronneber/u-net/u-net-architecture.png" class="segnet">
    </section>
    <p class="content">
        U-Net is a convolutional neural network that was developed for biomedical image segmentation at the Computer Science Department of the University of Freiburg, Germany. 
        The network is based on the fully convolutional network and its architecture was modified and extended to work with fewer training images and to yield more precise segmentations. 
        Segmentation of a 512 × 512 image takes less than a second on a modern GPU.
    </p>
</section>

{% endblock content %}