{% extends "layout.html" %}
{% block content %}
<section class="hero">
    <h2 class="section-title">
        No Data Needed. No Computation Power. No Coding.
    </h2> 
</section>

<section class="intro">
    <h2 class="section-title">
        Online Lesion Segmentations using <span class="text-primary">Segnet</span> pretrained model with high accuracy
    </h2> 
</section>

<section class="about-lesion">
    <header class="parallax about-lesion__intro">
        <h2 class="section-title">
            About Skin Lesions
        </h2> 
    </header>

</section>

<section class="lesion-info">
    <p class="content">
        A lesion is any damage or abnormal change in the tissue of an organism, usually caused by disease or trauma. Lesion is derived from the Latin laesio "injury". Lesions may occur in plants as well as animals.
        A skin lesion is an abnormal lump, bump, ulcer, sore or colored area on the skin. Common skin lesions include moles and actinic keratosis, among others.
        Most skin lesions are benign though some, such as actinic keratosis and certain moles, can be a pre-cursor to a skin cancer or already a skin cancer. This can be determined, on many occasions, by an ASDS member dermatologist.
        <br><br>
        <strong>Moles:</strong> Moles are small skin marks caused by pigment producing cells in the skin. They can be flat or raised, smooth or rough, and some contain hair. They may occur anywhere on the body. Most are dark brown or black, but some are flesh-colored, red or yellow. They can change in appearance over time. Some can develop into cancer. Benign moles are generally smaller than the size of a pencil eraser.
        <br><br>
        <strong>Actinic keratosis:</strong> Actinic keratosis occurs when the skin has sustained too much sun exposure and damage, they appear as crusty bumps. Actinic keratosis may be flesh-colored, brown, pink or red. Affected areas my be inflamed, itch or bleed. Actinic keratosis can develop into skin cancer. For that reason, most dermatologists want to treat these lesions.
    </p>
</section>

{% endblock content %}