{% extends "layout.html" %}
{% block content %}


<section class="about-lesion">
    <header class="about-lesion__intro">
        <h2 class="section-title">
            Segmenting using SegNet
        </h2> 
    </header>
</section>

<div class="segment-container">
    <div class="row">
     <div class="col">
 
       <form action="/segment" method="POST" enctype="multipart/form-data">
         <div class="form-group">
           <p class="text-center">Select Image</p>
           <div class = 'custom-file'>
               <input type="file" class="custom-file-input" name = 'image' id = 'image'>
               <label class="custom-file-label" for="image">Select Image...</label>
               <br>
               <br>
               <div class="center-container">
                 <button type= "submit" class="btn btn-primary button-align-center mt-4">Start Segmenting</button>
               </div>
             </div>
         </div>
       </form>
      
   </div>

   <div class="col-5 offset-2">
       <img class="element-center" src="{{ url_for('static', filename = 'segmented.bmp')}}">
       <br><br>
       <a href="/download"><button type= "submit" class="btn btn-primary button-align-center">See Results</button></a>    
   </div> 
    </div>
 </div>

{% endblock content %}