{% extends "layout.html" %}
{% block content %}


<section class="about-lesion">
    <header class="parallax segment-lesion__intro">
        <h2 class="section-title">
            Segmenting using SegNet
        </h2> 
    </header>
</section>

<br><br><br>

<div class="segment-container">
    <div class="row">
     <div class="col-1">
 
       <form action="/segment" method="POST" enctype="multipart/form-data">
         <div class="form-group">
           <p class="text-center">Select Image</p>
           <div class = 'custom-file'>
               <input type="file" class="button" name = 'image' id = 'image'>
               <br>
               <br>
               <div class="center-container">
                 <button type= "submit" class="button">Start Segmenting</button>
               </div>
             </div>
         </div>
       </form>
      
   </div>
   <div class="row-1">
   <div class="column">
        <label class='output-image-label' for="image">Input Image</label>
        <br><br>
       <img class="output-image" src="{{ url_for('static', filename = 'input_image.bmp')}}">
       <br><br>
    </div> 

  <div class="column">
      <label class='output-image-label' for="image">Segmented Image</label>
      <br><br>
     <img class="output-image" src="{{ url_for('static', filename = 'segmented.bmp')}}">
     <br><br>
  </div> 

    <div class="column">
      <label class='output-image-label' for="image">Cropped Output</label>
      <br><br>
     <img class="output-image" src="{{ url_for('static', filename = 'cropped.bmp')}}">
     <br><br>
    </div>
  </div>

  <div class="see-raw">
    <a href="{{ url_for('download')}}"><button class="button">See Raw</button></a>
  </div>

</div> 
</div>

 <br><br><br>
{% endblock content %}